<%= form_for @product do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :required => 'required', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, :required => 'required', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |c| %>
      <div class="collection-check-box">
        <%= c.check_box %>
        <%= c.label %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit "#{action}", class: 'btn btn-default' %>
  </div>
<% end %>